<!DOCTYPE html>
<html>
<head>
    <link rel="canonical" href="{{ page.redirect }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
    <script>
        window.location = "{{ page.redirect }}"
    </script>
    <title>Přesměrování na {{ page.redirect }}</title>
</head>
<body>
    <h1>Přesměrování na {{ page.redirect }}</h1>
    <p>
        Pokud nedojde k přesměrování, <a href="{{ page.redirect }}">klikněte prosím zde.<a>
    </p>
</body>
</html>
